<application>
  <component name="MyBatisCodeHelper">
    <option name="profile">
      <Profile>
        <option name="convertByteOrShortToInt" value="true" />
        <option name="methodNameSqlCommment" value="" />
        <option name="theUsageCount" value="1634897258815" />
        <option name="usejava8LocalDateTimeEct" value="true" />
        <option name="valid" value="true" />
      </Profile>
    </option>
  </component>
</application>